@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';
.card {
  display: flex;
  flex-direction: column;
  position: relative;

  height: 230px;
  width: 270px;
  margin: 30px;
  padding: 20px;
  box-shadow: -26px 22px 13px -7px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  background-color: #f4f4f4ef;

  hr {
    margin-top: 15px;
    border: 0;
    border-top: 1px solid lightgray;
    width: 90%;
  }

  &:hover {
    cursor: pointer;
    > img {
      width: 65px;
    }
  }

  .logo {
    display: inline-block;
    position: relative;
    top: -40px;
    left: 0px;
    border-radius: 50%;
    width: 60px;
    box-shadow: 0 10px 40px -2px gray;
    object-fit: cover;

    transition: width 0.2s;
  }

  .title {
    font-size: 1rem;
    font-weight: 100;
    font-weight: bold;
    margin: 0;
    padding: 0;
    margin-top: -15px;
  }

  .content {
    .phase {
      display: flex;
      align-items: center;
      justify-content: center;

      .phaseIcon {
        margin: 0;
        font-size: 1.2rem;
        margin-right: 5px;
      }
      .text {
        width: 100%;
        font-size: 0.8rem;
        font-weight: 100;
        font-weight: bold;
        color: #8c8c8c;
      }
    }
  }

  .footer {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 10px;
    width: 90%;
  }
}
