@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.statusPropertySection {
    .container {
        @include ms-Grid;

        .row {            
            @include ms-Grid-row;      
            
            .statusPropertySectionHeader {
                width: auto;
            }

            .statusPropertySectionFields {
                margin-top: 25px;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-wrap: nowrap;
                flex-wrap: nowrap;
                -ms-flex-pack: distribute;
                justify-content: space-around;
            }

            .column12 {
                @include ms-Grid-col;
                @include ms-sm12;
            }

            .column8 {
                @include ms-Grid-col;
                @include ms-sm8;
            }

            .column6 {
                @include ms-Grid-col;
                @include ms-sm6;
            }

            .column4 {
                @include ms-Grid-col;
                @include ms-sm4;
            }
        }
    }
}