@import "~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss";

.root {
  @include ms-Grid-col;
  @include ms-sm12;
  padding: 10px 0 10px 0;

  .container {
    margin: 10px 0 5px 0;

    .searchBox {
      width: 400px;
    }
  }
}