@import "~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss";

.templateSelector {
  @include ms-Grid-col;
  @include ms-sm12;
  padding: 10px 0 10px 0;

  .dropdown {
    margin: 10px 0 5px 0;
  }
}

.dropdownOption {
  .icon {
    @include ms-fontSize-18;
    float: left;
    width: 30px;
    height: 100%;
    padding-top: 5px;
  }
  .body {
    float: right;
    .text {
      @include ms-fontSize-14;
    }
    .subText {
      @include ms-fontSize-12;
    }
  }
}
