.root {
  margin: 0 0 10px 0;
  max-width: 95%;
  
  .labels {
    display: flex;
    flex-flow: wrap;
    margin: 0 0 10px 0;

    .termLabel {
      font-size: 14px;
      padding: 1px 7px;
      height: 18px;
      line-height: 18px;
      min-width: 4px;
      max-width: 250px;
      border-radius: 4px;
      border: 1px solid transparent;
      background-color: "[theme: themePrimary, default: #0078d7]";
      color: #fff;
      cursor: default;
      margin: 2px;
    }
    .termLabel:hover {
      background-color: "[theme: themeSecondary, default: #106ebe]";
      border: 1px solid #00000036;
    }
  }
}
