@import "~@fluentui/react/dist/sass/References.scss";

[class^="mainContent"] {
  position: relative !important;
}

[class*="stickyAbove"] .headerColumns {
  padding-left: 32px;
}

.addColumnIcon {
  margin: 0 4px 0 0;
  vertical-align: bottom;
}