@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.root {
  .scroll {
    max-height: 800px;
    overflow-y: auto;

    .list {
      list-style: none;
      display: grid;
      padding-left: 0;

      .column {
        .headerText {
          font-size: 13px;
        }

        padding: 10px;
        border-bottom: 1px solid #ececec;
        cursor: pointer;
      }

      > li:hover {
        background-color: #faf9f8;
      }
    }
  }
}
