@import "~@fluentui/react/dist/sass/References.scss";

.summarySection {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  height: fit-content;

  .projectInformation {
    max-width: 520px;
  }

  .statusElements {
    @include ms-Grid-col;
    @include ms-sm12;
    @include ms-xl8;


    .container {
      @include ms-Grid;

      .row {
        @include ms-Grid-row;

        &.iconsOnly {
          display: flex;
          justify-content: space-around;
        }

        .statusElement {
          @include ms-Grid-col;
          margin: 20px 0 0 0;
          padding: 0 16px;

          &.halfWidth {
            @include ms-sm6;
          }

          &.iconsOnly {
            margin: 10px 0 0 0;
            padding: 0 8px;
          }
        }
      }
    }
  }

  .fullWidth {
    @include ms-sm12;
    @include ms-xl12;
    padding: 0;
    margin: 0;
  }
}
