@import '~@fluentui/react/dist/sass/References.scss';

.commandBar {
  margin: 0px auto;
}

.timelineList {
  margin: 25px;

  .stickyHeader {
    .headerColumns {
      position: inherit;
    }
  }
}
