@import '~@fluentui/react/dist/sass/References.scss';

.commandBar {
  margin: 0px auto;
}

.timelineList {
  padding: 32px;

  .stickyHeader {
    .headerColumns {
      position: inherit;
    }
  }
}
