.newStatusReportModal {
    padding: 40px;

    .newStatusReportModalHeader {
        font-size: 20px;
        font-weight: 100;
        margin-bottom: 11px;
        color: #333333;
    }

    .newStatusReportModalField {
        width: 250px;
    }

    .newStatusReportModalFooter {
        margin-top: 15px;
    }
}