.templateLibrarySelectModal {
  width: 800px;
  padding: 40px;
  box-sizing: border-box;
  position: relative;
  .modalInner {
    .modalTitle {
      font-size: 26px;
      font-weight: 100;
      margin: 0 0 20px 0;
    }
    .modalBody {
      position: relative;
    }
  }
  .actions {
    margin: 15px 0 0 0;
    > button {
      margin: 0 8px 0 0;
    }
  }
}
