.root {
  position: inherit;

  .columnItem {
    margin: 8px 0;
    padding: 3px;
    border-radius: 3px;
  }

  .footer {
    margin: 20px 0 0 0;
    display: flex;
    justify-content: space-between;
  }
}
