.loadingSkeleton {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .small {
    width: 20%;
  }

  .medium {
    width: 40%;
  }

  .large {
    width: 60%;
  }

  .xlarge {
    width: 80%;
  }

  .xxlarge {
    width: 100%;
  }
}
