.statusSectionField {
  .label {
    font-size: var(--fontWeightRegular);
    font-weight: 600;
  }
  .value {
    margin-top: 8px;
    font-size: var(--fontWeightRegular);
    font-weight: 300;
  }
}
