@import "~@fluentui/react/dist/sass/References.scss";

.root {
  margin: 0;

  .sticky {
    margin: 0;
    padding-top: 16px;
    padding-bottom: 16px;

    .header,
    .commandBar {
      display: none;
    }
  }

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 32px;

    .publishedStatus {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 4px;

      .publishedStatusIcon {
        margin-top: 7px;
        color: #2da748;
      }
    }
  }

  .commandBar {
    height: 42px;
    margin: 0px auto;
    padding: 0 32px 16px 32px;
  }

  .sectionTabs {
    display: flex;
    flex-direction: row;
    height: 42px;
    padding: 0 32px;
  }

  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 0;
  }
}
