@import "~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss";

.root {
  @include ms-Grid;
  padding: 0;
  margin: 0;
  
  .container {
    padding: 10px 32px;
    @include ms-Grid-row;
  }
}
