Install/SiteScripts/*.txt
Install/InstallLog.txt
release/*
SharePointFramework/**/.vscode/launch.json
SharePointFramework/**/pnpm-lock.yaml
SharePointFramework/**/shrinkwrap.yaml
Templates/Portfolio/*.txt
Templates/Content/**/ProjectTemplates/*.txt
Templates/*.txt
Templates/Resources.json
.DS_Store
SharePointFramework/**/config/config.backup.json
node_modules
