SharePointFramework/*/**/env.json
SharePointFramework/*/**/config/serve.json
SharePointFramework/*/**/.vscode/launch.json
Release
node_modules
SharePointFramework/*/**/build.config.json
Install/Templates
Install/SiteScripts/*.txt
Install/InstallLog.txt
SharePointFramework/**/.vscode/launch*.json
SharePointFramework/**/package-lock.json
