Install/SiteScripts/*.txt
Install/InstallLog.txt
SharePointFramework/**/.vscode/launch.json
SharePointFramework/**/package-lock.json
SharePointFramework/**/pnpm-lock.yaml
SharePointFramework/**/shrinkwrap.yaml
Templates/Portfolio/*.txt
Templates/Content/**/ProjectTemplates/*.txt
Templates/*.txt
Templates/Resources.json
.DS_Store
SharePointFramework/ProjectWebParts/config/config.backup.json
**/package-lock.json 
SharePointFramework/ProjectWebParts/config/config.backup.json 
