.dynamicListView {
  position: relative;
  flex: 1;
  overflow: hidden;

  .scrollContainer {
    overflow: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 32px;
  }

  :global(.fui-TableCell) {
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 12px;
    font-weight: 400;
    color: #323130;
  }
}
