.matrixHeaderCell {
  border-right: 1px solid  var(--colorNeutralBackground6);
  border-bottom: 1px solid  var(--colorNeutralBackground6);
  min-height: 50px;
  min-width: 50px;

  .headerCell {
    display: flex;
    align-items: center;
    min-height: 30px;
    padding: 10px;
  }
}
