.root {
  border-right: 1px solid #99a8ad;
  border-bottom: 1px solid #99a8ad;
  min-height: 50px;
  min-width: 50px;
  color: #444444;

  .container {
    padding: 10px;
    box-sizing: border-box;
  }
}
