.root {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 100%;

  .commands {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;

    .search {
      flex: 1;

      .searchBox {
        width: 100%;
        max-width: 300px;
      }
    }
  }
}
