.ideaModule {
  margin: 0;
  overflow: hidden;
  display: flex;
  height: 100%;

  .content {
    flex: 1;
    padding: 16px;
    display: grid;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
