@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.summarySection {
    .container {
        @include ms-Grid;
        background-color: #EFF6FA;
        padding: 10px 18px;

        .row {
            @include ms-Grid-row;

            .column12 {
                @include ms-Grid-col;
                @include ms-sm12;
            }

            .column8 {
                @include ms-Grid-col;
                @include ms-sm8;
            }

            .column6 {
                @include ms-Grid-col;
                @include ms-sm6;
            }

            .column4 {
                @include ms-Grid-col;
                @include ms-sm4;
            }
        }
    }
}
