@import "~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss";
.projectStatus {
  @include ms-Grid;
  .container {
    margin: 0;
    @include ms-Grid-row;
    .header {
      padding: 10px 0 0 0;
      .title {
        font-size: 28px;
        font-weight: 100;
        margin: 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
    .actions {
      > button,
      > a {
        margin: 0 8px 0 0;
      }
    }
    .sections {
      padding: 0 32px 20px 32px;
    }
    .column12 {
      @include ms-Grid-col;
      @include ms-sm12;
    }
    .column8 {
      @include ms-Grid-col;
      @include ms-sm8;
    }
    .column6 {
      @include ms-Grid-col;
      @include ms-sm6;
    }
    .column4 {
      @include ms-Grid-col;
      @include ms-sm4;
    }
  }
}

div[class="commandBarWrapper"] {
  display: none !important;
}
