@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.projectStatus {
  .container {
    margin: 0;
    padding: 0 40px 50px 25px;  
  }

  .row {
    @include ms-Grid-row;
  }

  .projectStatusTopSection {
    width: auto;

    .title {
      margin: 0 0 20px 0;
    }
  }

  .projectStatusActions {
    >button { 
      margin-right: 8px;
    }
  }

  .sections {
    margin-top: 25px;
  }

  .column12 {
    @include ms-Grid-col;
    @include ms-sm12;
  }

  .column8 {
    @include ms-Grid-col;
    @include ms-sm8;
  }

  .column6 {
    @include ms-Grid-col;
    @include ms-sm6;
  }

  .column4 {
    @include ms-Grid-col;
    @include ms-sm4;
  }
}