@import "~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss";

.resourceAllocation {
  margin: 15px 0 50px 0;
  .container {
    margin: 0px auto;
    .commandBar {
      margin: 0px auto;
    }
    .header {
      padding: 23px 32px 20px 32px;

      .title {
        font-size: 28px;
        font-weight: 100;
        margin: 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
    .infoText {
      padding: 23px 32px 23px 32px;
    }
    .timeline {
      margin: 0px auto;
      padding: 0 32px 0 32px;
      font-size: 12px !important;

      [class="react-calendar-timeline"] [class*="rct-header-root"] {
        background: #f4f4f4 !important;
      }

      [class="react-calendar-timeline"] [class*="rct-dateHeader-primary"] {
        color: #444;
        border: none;
      }

      [class="react-calendar-timeline"] [class*="rct-calendar-header"] {
        border: none;
      }

      [class="react-calendar-timeline"] [class*="rct-dateHeader"] {
        font-size: 10px;
        border: none;
      }

      [class="react-calendar-timeline"] [class*="rct-item"] [class*="rct-item-content"] {
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
      }
    }
  }
}
