@import "~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss";

.settingsSection {
  @include ms-Grid-col;
  @include ms-sm12;
  padding: 10px 0 10px 0;
  .container {
    .item {
      width: 50%;
      display: inline-block;
      vertical-align: top;
      .description {
        @include ms-font-s;
        margin: 5px 0 15px 0;
      }
    }
  }
}
