.root {
  position: inherit;

  .field {
    margin: 6px 0 0 0;
  }

  .footer {
    margin: 12px 0 0 0;
    display: flex;
    justify-content: space-between;
  }
}

.addColumnIcon {
  margin: 0 4px 0 0;
}
