a {
  color: var(--colorBrandForegroundLink);
  outline: none;
  text-decoration: none;
}

a:hover {
  color: var(--colorBrandForegroundLinkHover);
  text-decoration: underline;
}

.root {
  .container {
    .projectItem {
      padding: 12px 0;
      .itemContainer {
        height: 100%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        overflow: hidden;
        position: relative;
      }
    }
  }
}
