.root {
  .container {
    padding: 5px;
    margin: 3px 0 0 0;

    .projectItem {
      padding: 15px 2px;
      border-bottom: 1px solid rgb(234, 234, 234);
      .itemContainer {
        height: 100%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        overflow: hidden;
        position: relative;
      }
    }

    .actions {
      margin: 15px 0 0 0;
    }
  }
}