.root {
  .container {
    .emptyMessage {
      margin: 15px 0 0 0;
    }

    .projectItem {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 12px 0;
      height: 100%;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      overflow: hidden;
      position: relative;

      &.withLogo {
        .container {
          width: 80%;
          padding-left: 12px;
        }
      }

      .container {
        .title {
          margin: 0;
        }
      }

      &:hover {
        background-color: var(--colorNeutralBackground1Hover);
        border-radius: var(--borderRadiusMedium);
      }
    }
  }
}
