.projectSetupBaseModal {
  width: 650px;
  padding: 40px;
  box-sizing: border-box;
  position: relative;

  .modalInner {
    .modalTitle {
      font-size: 26px;
      font-weight: 100;
      margin: 0 0 20px 0;
    }
    .modalBody {
      position: relative;
    }
  }

  .setupVersionString {
    position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 10px;
  }
}
