@import "~@fluentui/react/dist/sass/References.scss";

.goalsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  margin-top: 6px;
  min-width: 0;
  max-width: 100%;
  box-sizing: border-box;
}

.goalIcon {
  flex-shrink: 0;
}

.tooltipContent {
  padding: 16px;
  max-width: 300px;
}
