.dynamicList {
  position: relative;
  height: 100%;
  min-height: 372px;
  display: flex;
  flex-direction: column;

  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 372px;
    position: relative;

    .header {
      padding: 0px 32px;
      flex-shrink: 0;
      min-height: 60px;
    }

    .headerSkeleton {
      display: flex;
      flex-direction: column;
      gap: 8px;
      padding: 16px 0;

      .titleSkeleton {
        height: 28px;
        width: 200px;
        border-radius: 4px;
      }
    }

    .commandBar {
      padding: 0 32px 16px 32px;
      flex-shrink: 0;
    }
  }
}
