.dataTypeFields {
    .header {
        margin: 0.8rem 0;
        cursor: pointer;
        .title {
            font-size: 0.8rem;
            font-weight: 600;
        }
    }
    .container {
        width: 100%;
        margin-bottom: 1rem;

        > div {
            margin-bottom: 0.5rem;
        }
    }
}
