@import '~@fluentui/react/dist/sass/References.scss';

.root {
  width: 802px;
  box-sizing: border-box;
  padding: 6px 8px;

  &.isHighlighted {
    background-color: $ms-color-themeSecondary;
    color: $ms-color-white;

    .subText {
      color: $ms-color-white !important;
    }
  }

  .icon {
    @include ms-fontSize-18;
    float: left;
    width: 30px;
    height: 100%;
    padding-top: 5px;
  }
  .body {
    margin-left: 30px;
    .text {
      @include ms-fontSize-14;
    }
    .subText {
      @include ms-fontSize-12;
      color: rgb(96, 94, 92);
    }
  }
}
