.projectList {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .header {
    padding: 2px;
    display: flex;
    flex-direction: row;
    gap: 16px;

    .search {
      min-width: 420px;

      .searchBox {
        box-shadow: var(--shadow2);
        width: 100%;
      }
    }

    .commands {
      width: 100%;
      gap: 16px;
    }
  }
}
