@import '~@fluentui/react/dist/sass/References.scss';

.root {
  @include ms-Grid;
  margin: 20px 0 0 0;
  
  .container {
    @include ms-Grid-row;
    
    .content {
      @include ms-Grid-col;
      @include ms-sm12;
      @include ms-md10;

      .label {
        font-size: 16px;
        font-weight: 400;
      }

      .value {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 5px;
      }

      .comment {
        font-size: 12px;
      }
    }
  }
}

.tooltip {
  padding: 0 20px 20px 20px;
}