@import "~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss";

.root {
  @include ms-Grid;
  margin: 20px 0 0 0;
  
  .container {
    @include ms-Grid-row;

    .icon {
      @include ms-Grid-col;
      @include ms-sm12;      
      @include ms-md2;
    }
    .content {
      @include ms-Grid-col;
      @include ms-sm12;
      @include ms-md10;

      .label {
        font-size: 16px;
        font-weight: 400;
      }

      .value {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 5px;
      }

      .comment {
        font-size: 12px;
      }
    }
  }
}
