@import "~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss";

.fields {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
