@import "~@fluentui/react/dist/sass/References.scss";

.root {
  object-fit: cover;
  padding: 0;
  width: 240px;
  box-sizing: border-box;

  .shimmerGroup > div {
    display: block;
  }

  .card {
    max-width: 100%;
    height: fit-content;
    min-height: 312px;
  }

  .card:hover {
    box-shadow: var(--shadow8);
    background-color: var(--colorNeutralBackground1Hover);
  }
}
