@import "~@fluentui/react/dist/sass/References.scss";

.root {
  width: 240px;

  .shimmerGroup > div {
    display: block;
  }

  .card {
    height: fit-content;

    .phaseBadge {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--colorNeutralBackgroundAlpha);
      box-shadow: var(--shadow4);
      width: 20px;
      height: 20px;
      padding: 4px;
      margin: 6px;
      border-radius: 25px;
      font-size: 14px;
      font-weight: 600;
    }

    .phaseBadge:hover {
      background-color: var(--colorSubtleBackgroundLightAlphaHover);
    }
  }

  .card:hover {
    box-shadow: var(--shadow8);
  }
}
