.root {
  margin: 25px 0 0 0;

  .header {
    font-size: 18px;
    font-weight: 100;
    margin: 0 0 0 15px 0;
    color: #323130;
  }

  .projectItem {
    margin: 5px 0 0 0;
    .icon {
      font-size: 14px;
      font-weight: 100;
      margin-right: 6px;
      color: #323130;
    }
    .link {
      color: inherit;
    }
  }
}
