@import '~@fluentui/react/dist/sass/References.scss';

.portfolioInsights {
  margin: 15px 0 0 0;
  .container {
    .header {
      padding: 23px 32px 20px 32px;

      .title {
        font-size: 28px;
        font-weight: 100;
        margin: 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
    .inner {
      padding: 0 32px 0 32px;
    }
    .charts {
      margin: 0px;
    }
  }
}
