@import "~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss";

.projectInformation {
  .container {
    margin: 0;

    .actions {
      margin: 25px 0 0 0;

      > div {
        margin: 5px 0 0 0;
      }
    }
  }
}
