.baseDialog {
  width: 650px;
  max-width: 650px;
  box-sizing: border-box;
  position: relative;

  .content {
    overflow: hidden;
    div[class*="ms-Dialog-header"] {
      display: none;
    }
    div[class*="ms-Dialog-inner"] {
      padding: 0;
    }
  }

  .version {
    position: absolute;
    top: -90px;
    right: -15px;
    color: #fff;
    font-size: 10px;
  }
}
