@import "~@fluentui/react/dist/sass/References.scss";

.root {
  display: flex;
  flex-direction: column;
  gap: 12px;

  .tabList {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    .tabItem {
      cursor: default;

      &:hover::before {
        display: none;
      }
    }
  }
}
