@import "~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss";

.initialView {
  .header {
    @include ms-fontSize-16;
    @include ms-fontWeight-semibold;
  }
  .commentField {
    margin: 10px 0 0 0;

    textarea {
      height: 100px;
    }
  }
}
