@import "~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss";

[class^="mainContent"]{
  position: relative !important;
}

.root {
  margin: 15px 0 0 0;
  .container {
    .searchBox {
      padding: 0 0 20px 0;
    }
    .statusBar {
      padding: 0 32px 0 32px;
    }
    .listContainer {
      padding: 0 32px;
    }

    [class*='stickyAbove'] .headerColumns {
      padding-left: 32px;
    }
  }
}
