@import '~@fluentui/react/dist/sass/References.scss';

.root {
  .content {
    min-height: 250px;
    .icon {
      @include ms-Grid-col;
      @include ms-sm2;
      > i {
        font-size: 42px;
        display: block;
        text-align: center;
        margin-top: 12px;
      }
    }
    .indicator {
      @include ms-Grid-col;
      @include ms-sm10;
    }
  }
}
