.root {
  position: inherit;

  .field {
    margin: 6px 0 0 0;
  }

  .footer {
    margin: 12px 0 0 0;
  }

  .fieldDescription {
    margin: 2px 0 0 0;
    color: rgb(97, 97, 97);
    font-size: 10px;
  }
}