@import '~@fluentui/react/dist/sass/References.scss';

.root {
  width: 850px !important;
  max-width: 850px !important;

  .content {
    min-height: 450px;
  }
}

div[class*="webTemplatesGalleryFirstRunDialogModal"],
div[class*="ms-tipsntricks-panel"] {
  display: none !important;
}
