@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';
.projectCard {
    object-fit: cover;
    margin: 5px 10px 5px 0;
    padding: 5px 0 0 0;
    width: 240px;
    box-sizing: border-box;
    
    .phase {
        color: rgb(51, 51, 51);
        font-weight: 100;
        text-transform: uppercase;
        letter-spacing: 2px;
        text-align: center;
        border-top: 1px solid #dedede;
        border-bottom: 1px solid #dedede;
        padding: 7px;
        margin: 0 0 7px 0;
    }
    
    .personaContainer {    
        margin: 12px 0 12px 0;
        padding: 0 15px 0 15px;
    }
}
