.root {
  width: 550px;
  max-width: 550px;

  .useDynamicHomepageContent {
    display: flex;
    margin-top: 10px;
    font-weight: 300;

    .descriptionIcon {
      vertical-align: middle;
      padding-top: 15px;
      padding-right: 10px;
      padding-left: 10px;
    }
  }
}
