.projectPhase {
  width: auto;
  -ms-flex: 1;
  -moz-flex: 1;
  -webkit-box-flex: 1;
  flex: 1;
  display: block;
  position: relative;
  margin: 0;
  text-decoration: none;

  &.isCurrentPhase .container .phaseLetter {
    color: #fff;
    background-color: #393;
  }

  &.portfolio {
    &.isCurrentPhase .container .phaseLetter {
      color: #fff;
      background-color: #0072c6;
    }

    .container .phaseIcon {
      &:before,
      &:after {
        visibility: hidden;
      }
    }

    .container .phaseText {
      color: #0072c6;
    }

    .container .phaseLetter {
      color: #0072c6;
      border: 1px solid #0072c6;

      &:hover {
        color: #fff;
        background-color: #0072c6;
      }
    }
  }

  &:before,
  &:after {
    display: block;
    position: absolute;
    top: 35px;
    width: 100%;
    height: 1px;
    content: '';
    background-color: #0072c6;
    z-index: 2;
    left: 0;
  }

  .container {
    position: relative;
    width: 100%;
    height: auto;
    float: none;
  }

  .phaseIcon {
    position: relative;
    width: 100%;
    height: auto;
    float: none;

    &:before,
    &:after {
      display: block;
      position: absolute;
      top: 31px;
      width: 100%;
      height: 1px;
      content: '';
      background-color: #393;
      z-index: 2;
      left: 0;
    }
  }

  .phaseLetter {
    border-radius: 50%;
    position: relative;
    width: 40px;
    height: 40px;
    background-color: #fff;
    display: block;
    margin: 10px 10px 0 0;
    float: left;
    text-align: center;
    z-index: 9;
    line-height: 38px;
    font-size: 19px;
    color: #393;
    border: 1px solid #393;

    &:hover {
      color: #fff;
      background-color: #393;
    }
  }

  .phaseText {
    color: #393;
    max-width: 120px;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    width: 68%;
    text-align: left;
    float: left;
    font-size: 14px;
    padding: 4px 0 0 0;
    margin: 4px 0 4px 0;
  }

  .phaseSubText {
    width: 68%;
    padding: 10px 0 0 0;
    font-size: 11px;
    text-align: left;
    float: left;
    color: #333;
  }
}
