$project-color: #89ce87;
$project-current-color: #54b054;
$project-current-color-hover: #397e39;

$portfolio-color: #9dceee;
$portfolio-current-color: #64addb;
$portfolio-current-color-hover: #5688af;

$arrow-font-size: 4rem;
$arrow-height: 1em;
$chevron-height: 0.75em;
$chevron-width: 0.25em;
$project-phase-padding: 0.25em;

.projectPhase {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex: 1;
  position: relative;
  margin: 0;
  min-height: $arrow-height;
  height: 1em;
  max-height: 1em;
  background: $project-color;
  font-size: $arrow-font-size;
  line-height: $arrow-height;
  margin-right: $chevron-width;
  cursor: pointer;
  filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.15));

  &:after,
  &:before {
    position: absolute;
    z-index: -1;
    content: "";
    border: solid transparent;
    border-width: $chevron-height $chevron-width;
  }

  &:after {
    border-top-color: $project-color;
    border-bottom-color: $project-color;
    left: -$chevron-width;
  }

  &:before {
    border-right: 0;
    border-left-color: $project-color;
    right: -$chevron-width;
  }

  &.isCurrentPhase {
    background: $project-current-color;
    font-weight: 600;

    &:after {
      border-top-color: $project-current-color;
      border-bottom-color: $project-current-color;
    }
    &:before {
      border-left-color: $project-current-color;
    }

    span {
      font-size: 20px;
    }
  }

  &.portfolio {
    background: $portfolio-color;

    &:after {
      border-top-color: $portfolio-color;
      border-bottom-color: $portfolio-color;
    }
    &:before {
      border-left-color: $portfolio-color;
    }

    &.isCurrentPhase {
      background: $portfolio-current-color;

      &:after {
        border-top-color: $portfolio-current-color;
        border-bottom-color: $portfolio-current-color;
      }
      &:before {
        border-left-color: $portfolio-current-color;
      }
    }
  }

  &.useStartArrow {
    &:first-child {
      &:after {
        border-left-color: $portfolio-color;
        border-top-left-radius: var(--borderRadiusMedium);
        border-bottom-left-radius: var(--borderRadiusMedium);
      }

      &.isCurrentPhase {
        &:after {
          border-left-color: $portfolio-current-color;
        }
      }
    }

    &:first-child:hover {
      &:after {
        border-left-color: $portfolio-current-color;
      }

      &.isCurrentPhase {
        &:after {
          border-left-color: $portfolio-current-color-hover;
        }
      }
    }
  }

  &.useEndArrow {
    &:last-child {
      border-top-right-radius: var(--borderRadiusMedium);
      border-bottom-right-radius: var(--borderRadiusMedium);

      &:before {
        border: none;
      }
    }
  }
}

.projectPhase {
  font-weight: 400;
  padding: $chevron-width;
  text-align: center;
  color: white;

  span {
    cursor: pointer;
    font-size: 16px;
    line-height: 1em;
    position: relative;
    vertical-align: middle;
  }

  .subText {
    line-height: 1em;
    font-size: 12px;
    font-weight: inherit;
  }
}

.projectPhase:hover {
  background: $project-current-color;
  filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.2));

  &:after {
    border-top-color: $project-current-color;
    border-bottom-color: $project-current-color;
  }
  &:before {
    border-left-color: $project-current-color;
  }

  &.isCurrentPhase {
    background: $project-current-color-hover;

    &:after {
      border-top-color: $project-current-color-hover;
      border-bottom-color: $project-current-color-hover;
    }
    &:before {
      border-left-color: $project-current-color-hover;
    }
  }

  &.portfolio {
    background: $portfolio-current-color;

    &:after {
      border-top-color: $portfolio-current-color;
      border-bottom-color: $portfolio-current-color;
    }
    &:before {
      border-left-color: $portfolio-current-color;
    }

    &.isCurrentPhase {
      background: $portfolio-current-color-hover;

      &:after {
        border-top-color: $portfolio-current-color-hover;
        border-bottom-color: $portfolio-current-color-hover;
      }
      &:before {
        border-left-color: $portfolio-current-color-hover;
      }
    }
  }
}
