@import "~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss";

.templateSelectDialog {
  .infoText {
    @include ms-Grid-col;
    @include ms-sm12;
    margin: 15px 0 15px 0;
  }
  .submitButton {
    @include ms-Grid-col;
    @include ms-sm12;
    margin: 0 0 15px 0;

    > button {
      margin: 0;
    }
  }
}

[class*='pageLayout'], [class*='sp-pageLayout-sideNav'] { opacity: 0.35 }