.root {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-top: 16px;

  .button {
    justify-content: flex-start;

    .label {
      font-weight: var(--fontWeightRegular);
      margin: 0;
    }
  }
}
