.root {
  margin: 25px 0 0 0;

  .buttonContainer {
    width: 320px;
    margin: 6px 0 0 0;

    .button {
      width: 100%;
      justify-content: flex-start;

      .label {
        margin: 0;
      }
    }
  }
}
