@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.errorModal {
    width: 650px;
    padding: 40px;
    box-sizing: border-box;

    .errorModalBody {
        @include ms-Grid;
        @include ms-Grid-row;

        .modalTitle {
            @include ms-Grid-col;
            @include ms-sm12;
            font-size: 26px;
            font-weight: 100;
            margin: 0 0 20px 0;
        }
    }
}