@import '~@fluentui/react/dist/sass/References.scss';

.programAdministration {
  height: 100vh;
  margin: 20px;

  .searchBox {
    width: 625px;
    margin: 10px 0 0 0;
    box-sizing: border-box;
  }

  div[class*="ms-List-cell"] {
    min-height: 0px;
  }
}
