.root {
  height: 100vh;
  margin: 20px;

  .header {
    padding-bottom: 20px;

    .title {
      font-size: 28px;
      font-weight: 100;
      margin: 0;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .dialogContent {
    margin-top: 20px;
  }
}
