@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.deliveriesOverview {
  .container {
    margin: 0px auto;
    .commandBar {
      margin: 0px auto;
    }
    .header {
      padding: 23px 32px 20px 32px;

      .title {
        font-size: 28px;
        font-weight: 100;
        margin: 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
    .searchBox {
      padding: 23px 32px 23px 32px;
    }
    .listContainer {
      padding: 0 32px 0 32px;
    }
  }
}