.root {
  border-radius: 50%;
  padding: 1px;
  margin: 2px;
  text-align: center;
  width: 20px;
  height: 20px;
  display: inline-block;
  cursor: pointer;
  background-color: #fff;
  color: #666;
  font-size: 11px;
  line-height: 18px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: opacity 1.25s ease-in-out;
  -moz-transition: opacity 1.25s ease-in-out;
  -webkit-transition: opacity 1.25s ease-in-out;
}

.tooltip {
  padding: 0 20px;
}
