.matrixElement {
  margin: 2px;
  box-shadow: var(--shadow4);
  transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;

  &:hover {
    filter: brightness(0.9);
  }
}
