@import "~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss";

.listContentSection {
  @include ms-Grid-col;
  @include ms-sm12;
  padding: 10px 0 10px 0;

  .container {
    .item {
      width: 50%;
      display: inline-block;
      vertical-align: top;
      padding-right: 5px;
      box-sizing: border-box;

      .toggle {
        display: flex;
        align-items: baseline;

        .icon {
          padding-left: 5px;
          color: #a6a6a6;
        }
      }

      .subText {
        @include ms-font-s;
        margin: 5px 0 15px 0;
      }
    }
  }
}
