.root {
  .logo {
    position: relative;
    top: -40px;
    border-radius: 50%;
    background-color: #666666;
    width: 75px;
    height: 75px;
    min-width: 75px;
    min-height: 75px;
    box-shadow: 0 10px 40px -2px gray;

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      min-width: 75px;
      object-fit: cover;
    }
  }

  .phase {
    position: relative;
    border: 1px solid;
    border-color: transparent;
    font-size: 12px;
    padding: 4px 6px;
    border-radius: 4px;
    max-width: 85px;
    top: -60px;
    left: 65%;
    box-sizing: border-box;
    text-align: center;
  }

  .title {
    font-size: 1rem;
    font-weight: 100;
    font-weight: bold;
    margin: 0;
    padding: 4px 0px;
    margin-top: -25px;
  }
}
