
.statusSectionField {
    max-width: 250px;

    .statusSectionFieldInner {
        margin: 0px 0px 10px;
        max-width: 95%;

        .statusSectionFieldLabel {
            font-size: 14px;
            font-weight: 600;
        }

        .statusSectionFieldValue {
            margin-top: 5px;
            font-size: 17px;
            font-weight: 300;
        }
    }
}
