@import '~@fluentui/react/dist/sass/References.scss';

.addProjectDialog {
  width: 950px;
  max-width: 950px;
  box-sizing: border-box;
  position: relative;

  .content {
    height: 550px;
    margin: 20px 0 0 0;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .actions {
    padding: 20px 0 0 0;
  }
}
