@import "~@fluentui/react/dist/sass/References.scss";

.addProjectDialog {
  & > div[role="dialog"] {
    max-width: 700px;
    width: calc(100vw - 180px);
    height: calc(100vh - 180px);
  }

  .content {
    height: 865px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .actions {
    display: flex;
    justify-content: flex-end;
    padding: 20px 0 0 0;
  }
}
