.root {
  .container {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 15px;
  }
}

.confirmDialog {
  max-width: 450px;
  width: 450px;
}

.errorContainer {
  p {
    margin: 0;
    padding: 0;
  }
}
