@import "~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss";

.progressModal {
  .progressIcon {
    @include ms-Grid-col;
    @include ms-sm2;

    > i {
      font-size: 42px;
      display: block;
      text-align: center;
      margin-top: 12px;
    }
  }

  .progressIndicator {
    @include ms-Grid-col;
    @include ms-sm10;
  }
  
  .editPropertiesLink {    
    @include ms-Grid-col;
    @include ms-sm12;
    margin: 15px 0 15px 0;
  }
}
