@import "~@fluentui/react/dist/sass/References.scss";

.baseSection {
  box-shadow: var(--shadow4);
  border-radius: var(--borderRadiusMedium);

  &.transparent {
    box-shadow: none;
    border-radius: none;
  }

  &.noPadding .container {
    padding: 0 !important;
  }

  &.noMargin,
  &.noMargin .container {
    margin: 0 !important;
  }

  .container {
    padding: 28px;
  }
}
