.root {
  .container {
    .phaseList {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      gap: 8px;
      padding-left: 16px;
    }
  }
}

.userMessage {
  p {
    margin: 0;
    padding: 0;
  }
}
