.root {
  .container {
    .phaseList {
      margin: 0 20px 30px 0;
      padding: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      list-style-type: square;
      overflow: visible;
      clear: both;
    }
  }
}

.userMessage {
  p {
    margin: 0;
    padding: 0;
  }
}