@import '~@fluentui/react/dist/sass/References.scss';

.root {
  @include ms-Grid-col;
  @include ms-sm12;
  padding: 15px 0 25px 0;
  
  .title {
    font-size: 28px;
    font-weight: 100;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
