@import "~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss";

.root {
  @include ms-Grid-col;
  @include ms-sm12;
  padding: 10px 0 10px 0;
  height: 100%;

  div[class*="ms-List-cell"] {
    min-height: 0px;
  }

  .searchBox {
    margin: 10px 0 0 0;
  }

  .titleColumn {
    margin: 0;

    .lockIcon {
      margin: 0 5px 0 0;
    }
  }
}
