@import "~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss";

.extensionsSection {
  @include ms-Grid-col;
  @include ms-sm12;
  padding: 10px 0 10px 0;
  .container {
    .item {
      width: 50%;
      display: inline-block;
      vertical-align: top; 
      padding-right: 5px;
      box-sizing: border-box;
      .description {
        @include ms-font-s;
        margin: 5px 0 15px 0;
      }
    }
  }
}
