@import "~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss";
.statusElement {
  margin: 20px 0 0 0;
  .statusElementLabel {
    font-size: 16px;
    font-weight: 400;
  }
  .statusElementValue {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
  }
  .statusElementComment {
    font-size: 12px;
  }
}
