@import "~@fluentui/react/dist/sass/References.scss";

.checkListItem {
  display: flex;
  flex-direction: column;
  gap: 6px;
  border-radius: var(--borderRadiusMedium);
  padding: 6px;

  &:hover {
    background-color: var(--colorSubtleBackgroundHover);
  }

  .item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 12px;

    .title {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 12px;

      .statusIcon {
        width: 24px;
        height: 24px;
      }
    }
  }

  .comment {
    padding-left: 36px;
  }
}
