.root {
    padding: 25px;

    .content {
        .left {
            float: left;

            .installVersion {
                font-size: 12px;
                color: #999;
            }
        }
        .right {
            float: right;
        }
    }
}