@import "~@fluentui/react/dist/sass/References.scss";

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;

  .phase {
    color: rgb(51, 51, 51);
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    padding: 7px 7px 7px 7px;
    margin: 7px 0 7px 0;
  }

  .menuItem {
    padding: var(--spacingVerticalSNudge) var(--spacingHorizontalXS);
  }

  .tagGroup {
    display: flex;
  }

  .statusTagGroup {
    display: flex;
    gap: var(--spacingHorizontalXS);

    .statusTag {
      button {
        background-color: inherit;
        color: inherit;
      }
    }
  }
}
