@import "~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss";

.root {
  .endDate {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 4px;

    .endDateIcon {
      margin: 0;
      font-size: 1.2rem;
      margin-right: 5px;
    }
    
    .endDateText {
      width: 100%;
      font-size: 0.8rem;
      font-weight: 400;
      color: #444;
    }
  }
}
