.matrixCell {
  width: 16.6%;
  border-right: 1px solid #99a8ad;
  border-bottom: 1px solid #99a8ad;

  .container {
    min-height: 50px;
  }
}

.headerCell {
  min-height: 50px;
  line-height: 50px;
  padding-left: 5px;
  color: #444444;
}
