@import "~@fluentui/react/dist/sass/References.scss";

.projectList {
  .tabs {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 15px 0px;
    row-gap: 20px;
    flex-direction: row;
  }

  .commandBar {
    display: flex;
    flex-direction: row;
    gap: 15px;

    .searchBox {
      width: 100%;
      box-shadow: var(--shadow2);
      max-width: 820px;
    }
  }

  .emptyMessage {
    flex-direction: column;
    margin: 15px 0 0 0;
  }

  .projects {
    flex-direction: column;
    margin: 10px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 12px;
  }
}
