@import "~@fluentui/react/dist/sass/References.scss";

.root {
  padding: 8px;

  .title {
    margin-top: 0;
    font-weight: 600;
  }

  .body {
    max-width: 250px;
    gap: 8px;

    .subText {
      font-weight: 600;
    }

    .label {
      text-align: left;
      font-weight: var(--fontWeightRegular);
      margin: 0;
    }

    .archiveInfo {
      padding: var(--spacingHorizontalM);
    }

    .actions {
      padding-top: 8px;
    }
  }
}