.react-calendar-timeline .rct-header-root {
  background: #f4f4f4 !important;
}

.react-calendar-timeline .rct-sidebar {
  width: fit-content !important;
  max-width: 320px !important;
  min-width: 0px !important;
}

.react-calendar-timeline .rct-dateHeader-primary {
  color: #444;
  border: none;
}

.react-calendar-timeline .rct-calendar-header {
  border: none;
}

.react-calendar-timeline .rct-dateHeader {
  font-size: 10px;
  border: none;
}
