@import '~@fluentui/react/dist/sass/References.scss';

.root {
  .commandBar {
    margin: 0px auto;
  }

  .header {
    padding: 23px 32px 20px 32px;

    .title {
      font-size: 28px;
      font-weight: 100;
      margin: 0;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .infoText {
    padding: 0 32px 23px 32px;
  }

  .timeline {
    margin: 0px auto;
    padding: 0 32px 0 32px;
    font-size: 12px !important;

    .timelineItem {
      cursor: pointer !important;
      min-width: 28px;
      .itemContent {
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;
      }
    }
  }
}

div[class="rct-header-root"]{
  background: #f4f4f4 !important;
}

div[class="rct-sidebar"] {
  width: fit-content !important;
  max-width: 320px !important;
  min-width: 0px !important;
}

div[class="rct-dateHeader-primary"] {
  color: #444 !important;
  border: none !important;
}

div[class="rct-calendar-header"] {
  border: none !important;
}

div[class*="rct-dateHeader"] {
  font-size: 10px !important;
  border: none !important;
}