.root {
  display: flex;
  align-items: center;
  max-width: 450px;
  text-overflow: ellipsis;

  .heading {
    .title {
      border: none;
      border-radius: 2px;
      font-size: 20px;
      line-height: 24px;
      font-family: inherit;
      font-weight: 600;
      color: #323130;
    }
  }

  .infoLabel {
    padding-top: 4px;
  }
}

div > .infoLabelContent {
  max-width: 640px;
}
