name: Build release (main)

on:
  push:
    branches:
      - releases/*

jobs:
  build-release:
    name: Build release (CI)
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.head_ref }}

      - name: Setup Node.js 16.18.0
        uses: actions/setup-node@v3
        with:
          node-version: 16.18.0

      - name: Run Install/Build-Release.ps1 in CI mode
        run: Install/Build-Release.ps1 -CI
        shell: powershell
      
      - uses: actions/upload-artifact@v3
        with:
          name: release-package
          path: release