@import '~@fluentui/react/dist/sass/References.scss';

.root {
  @include ms-Grid-col;
  @include ms-sm12;
  padding: 10px 0 10px 0;

  .container {
    margin: 10px 0 5px 0;

    .searchBox {
      width: 802px;
    }

    .radioLabelContainer {
      display: inline-block;
      padding-left: 26px;
    }

    .radioLabel {
      display: block;
      font-weight: 600;
    }

    .radioDescription {
      display: block;
      color: $ms-color-neutralSecondary;
      font-size: $ms-font-size-s;
      font-weight: 400;
      margin-top: 2px;
    }
  }
}
