.root {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 100%;

  .commands {
    display: flex;
    flex-direction: row;
    margin: 8px 2px;

    .search {
      width: 100%;
      max-width: 100%;

      .searchBox {
        box-shadow: var(--shadow2);
        width: inherit;
        max-width: inherit;
      }
    }
  }
}
